!!!
%html
  %head
    %title Jordan B. Sanders
    %link{:rel => 'stylesheet', :href => '/assets/css/style.css'}
  %body
    %h1
      %a{:href => '/index.html'}
        %img#avatar{:src => 'https://gravatar.com/avatar/649968af7921b04471c84816eb435def.png?s=64&d=mm'}
        Jordan B. Sanders

    %small Musician / Pulse Generator / Bit Flipper
    #menu
      %a{:href => 'http://CyberPul.se'} CyberPulse
      |
      %a{:href => 'https://github.com/jordanbsanders'} GitHub
      |
      %a{:href => 'https://SandStormIT.com/'} SandStorm IT

    #content
      /~~~POST_CONTENT_PLACEHOLDER~~~
